* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

header {
    box-sizing: border-box;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 1000px;
    height: 3rem;
    display: grid;
    grid-template: 3rem / auto 2fr;
    align-items: center;
    justify-items: center;
    z-index: 5;
}

main {
    position: relative;
    top: 4rem;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

footer {
    position: relative;
    top: 4rem;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 1rem;
    border-top: 2px solid black;
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

a:active {
    font-weight: bold;
}

li {
    list-style: none;
}

section {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.box {
    width: fit-content;
    position: relative;
    height: auto;
    margin: 1rem;
    display: flex;
}

.box h4 {
    background-color: black;
    box-shadow: 3px 3px rgb(255, 0, 0), -3px -3px rgb(0, 255, 0);
    color: white;
    position: absolute;
}

.container {
    max-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee img {
    width: 200px;
    height: auto;
}

.employee h4 {
    font-size: 16px;
    padding: .1rem;
    width: 60%;
    bottom: 10%;
    right: 10%;
    font-style: italic;
    font-weight: 300;
}

.gray {
    background-color: lightgray;
}

.service img {
    width: 300px;
    height: 200px;
}

.service h4 {
    font-size: 24px;
    text-shadow: 1px 1px gray;
    top: 10%;
    right: 10%;
}


#burger {
    width: 100%;
}

#burger-box {
    display: none;
    width: 2.9rem;
    margin-top: .1rem;
    height: auto;
    flex-shrink: 1;
}

#contact {
    display: block;
    background-color: lightgray;
    width: 100%;
    padding: 1rem;
}

#logo {
    display: flex;
    width: fit-content;
    margin-left: .5rem;
    justify-self: start;
    grid-column: 1;
    min-width: 270px;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 3rem;
    grid-column: 2;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
}

#nav-list li {
    width: max-content;
}

#services h2 {
    padding: .25rem;
    margin-top: .25rem;;
    margin-bottom: .5rem;
}

#splash {
    display: flex;
    color: white;
    text-shadow: 3px 3px red, -3px -3px rgb(0, 255, 0);
    width: 88%;
    max-width: 1000px;
    height: 600px;
    background-image: url(../images/skyscrapers.webp);
    background-size: cover;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px rgb(255, 0, 0), -3px -3px rgb(0, 255, 0);
}

#splash-banner {
    padding: .5rem;
    font-size: 40px;
    background-color: lightgray;
    border-top: 1px solid rgb(0, 255, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 700px) {

    header {
        grid-template: 3rem / 1fr 1fr;
    }

    main {}

    #logo {
        white-space: nowrap;
    }

    #nav-list {
        display: none;
    }

    #nav-bar {
        align-items: end;
    }

    #burger-box {
        display: block;
        margin-right: .5rem;
    }

    #splash {
        height: 400px;
    }

    #splash-banner {
        font-size: 30px;
    }
}

@media only screen and (max-width: 430px) {

    #logo {
        font-size: .81rem;
    }

    #splash {
        height: 300px;
        text-shadow: 1px 1px red, -1px -1px rgb(0, 255, 0);
    }

    #splash-banner {
        font-size: 20px;
    }

}